html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-color: silver;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Regular'), local('Signika-Regular'), url(https://fonts.gstatic.com/s/signika/v10/vEFR2_JTCgwQ5ejvG1EmBg.woff2) format('woff2');
}

.menu.massive {
  background-color: #A0A0A0;
  text-align: center;
}

.menu.massive .header {
  padding: 0 2em;
}

.menu.massive .item {
  color: #006000;
  font-weight: bolder;
}
.menu.massive .item:hover:not(.header) {
  color: #004000 !important;
  font-weight: bolder;
}
.menu.massive .active.item {
  color: #004000;
  font-weight: bolder;
}

/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

/* .header {
  padding: 10px 15%;
  height: 15%;
  background-color: darkgrey;
  text-align: center;
} */

/* .green-shadow {
  text-shadow:
    1px 1px 0 #008000,
    -1px -1px 0 #008000,
    1px -1px 0 #008000,
    -1px 1px 0 #008000,
    1px 1px 0 #008000;
} */
